= employees_panel do
  %table{:class => 'index'}
    %thead
      %tr
        %th Name
        %th Address
        %th Phone
    %tbody
      = render :partial => 'employee_row', :collection => @employees
