%ul{:class => 'diagnoses'}
  - @categories.each do |category|
    - if @categories.first == category then row_class = 'first'
    %li{:class => "category #{row_class}"}
      %strong= edit_diagnosis_category_link(category)
      %ul
        - category.diagnoses.each do |diagnosis|
          - if category.diagnoses.last == diagnosis then row_class = 'last'
          %li{:class => row_class}= edit_diagnosis_link(diagnosis)
