#search-results
  %ul{:class => 'diagnoses'}
    - @categories.each do |category|
      %li{:class => 'category'}
        %strong=h category.name
        %ul
          - category.diagnoses.each do |diagnoses|
            %li=h diagnoses.name
