table.index {
  margin: 0 auto;
  border-collapse: collapse;

  th {
    text-align: left;
    color: $inactive-tab;
    border-bottom: 5px solid $inactive-tab;
  }
  td {
    padding: 0.7em 1em 0.7em 0;
    border-bottom: 1px solid #ccc;
  }
}

table.events {
  width: 55em;
  margin: 0 auto;
  border: 1px solid $tab-background;
  border-collapse: collapse;

  thead {
    background-color: $inactive-tab;
    color: gray;
    th {
      padding: 0.2em 1em;
      text-align: left;
      border-bottom: 1px solid gray;
      color: $inactive-tab-text;
    }
  }

  tbody {
    tr {
      &.even {
        background-color: darken($view-background, 10%);
      }
      &.odd {
        background-color: $view-background;
      }
      td {
        padding: 0.2em 1em;

        &.date {
          width: 7em;
        }
      }
    }
  }
}
