$header-background: #b2c0ab;
$inactive-tab: #234;
$inactive-tab-text: #bbb;
$tab-border: darken($inactive-tab, 20%);
$tab-background: gray;
$view-background: #f8f8f8;


@import "forms";
@import "panel";
@import "tables";
@import "search";


@mixin category-navigation {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 25em;
  
  li.category {
    margin-bottom: 0.5em;
    strong {
      display: block;
      padding: 0.5em 1em;
      border: 1px solid gray;
      background-color: $view-background;
     background-color: lighten($tab-background, 40%);
    }
    ul {
      list-style: none;
      background-color: $view-background;
      margin: 0;
      padding: 0;

      li {
        padding: 0.3em 1.5em;
      }
    }
  }
}

ul.diagnoses {
  @include category-navigation
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $tab-background;
  min-width: 900px;
}

a {
  text-decoration: none;
  color: darken($header-background, 40%);

  img {
    border: none;
  }
}

#header {
  background-color: $header-background;
  border-bottom: 2px solid darken($header-background, 20%);
  height: 3em;

  ul {
    margin: 0;
    padding: 0;
    text-align: right;

    li {
      display: block;
      float: right;
      margin: 0.75em 1em 0.9em 1em;

      a {
        font-size: 1.2em;
      }
    }
  }
}

#flash-error {
  display: none;
  margin: 0;
  padding: 1em;
  border: 2px solid #E4D2D3;
  background-color: mix(lighten($tab-background, 40%), #E4D2D3);
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0px;
  color: gray;
}

#flash-notice {
  display: none;
  color: gray;
  margin: 0;
  padding: 1em;
  border: 2px solid $header-background;
  background-color: mix(lighten($tab-background, 40%), $header-background);
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0px;
}

#loading-overlay {
  background: #ffffff;
  height: 100%;
  width: 100%;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  filter: alpha(opacity=50);
  opacity: 0.5;

  img {
    display: block;
    margin: 1.5em auto;
    z-index: 100;
    filter: alpha(opacity=100);
    opacity: 1;

  }
}
