$green: #b2c0ab;
$green-border: darken($green, 20%);
$tab: #234;
$tab-selected: #f8f8f8;
$tab-border: darken($tab, 20%);
$tab-background: gray;

@mixin select {
  h2 {
    text-align: right;
    display: block;
    float: left;
    margin: 0.25em 1em 0 1em;
    color: lighten($tab-background, 20%);
    z-index: 100;

    a.select {
      padding: 0.1em 1em 0.1em 0.2em;
      color: lighten($tab-background, 20%);
  
      &:hover {
        color: lighten($tab-background, 40%);
      }
    }
  }
}

@mixin tab-navigation {
  @include select;

  ul {
    clear: right;
    margin: 0;
    padding: 0;
    width: 100%;
    background: $tab-background;
    height: 2.6em;

    li {
      display: block;
      float: right;
      margin: 0.85em 0.5em 0 0;
      background-color: $tab;
      border: 1px solid $tab-border;
      border-bottom: none;

      select {
        border: 1 px solid $tab;
      }

      a {
        display: block;
        padding: 0.25em 1em;
        color: #bbb;

        &:hover {
          background-color: lighten($tab, 10%);
        }

        &.selected {
          background-color: $tab-selected;
          color: $green-border;
        }
      }

      &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      }
    }
  }
}



body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $tab-background;
  min-width: 900px;
}

a {
  text-decoration: none;
  color: darken($green-border, 20%);
}

#header {
  background-color: $green;
  border-bottom: 2px solid $green-border;
  height: 3em;

  ul {
    margin: 0;
    padding: 0;
    text-align: right;

    li {
      display: block;
      float: right;
      margin: 0.75em 1em 0.9em 1em;

      a {
        font-size: 1.2em;
      }
    }
  }
}

#client {
  background-color: $tab;

  p {
    padding: 0;
    margin: 0;
  }
}

#left-navigation {
  float: left;
  width: 250px;
  padding: 1em 0 0 1em;
  margin: 0 1em 0 0;
  background-color: $tab;
  border-right: 2px solid $tab-border;

  h2 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
  }
}

#client-select-dialog {
  display: none;
  background: $green-border;
  position: relative;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  width: 100%;

  fieldset {
    border: none;
    margin: 0;
    padding: 0.2em 0;
    display: block;
    background-color: lighten($tab-background, 40%);

    input {
      width: 40%;
      display: block;
      border: none;
      padding-left: 1.2em;
      float: left;
      background: url(../images/search.png) no-repeat 0.3em 0.3em 
        lighten($tab-background, 40%);
      font-size: 1.5em;
    }

    button {
      font-size: 1.3em;
      color: $green-border;
      background-color: lighten($tab-background, 40%);
      border: 1px solid lighten($tab-background, 40%);
      border-left: 1px solid lighten($tab-background, 20%);
      display: block;
      float: right;
      margin: 0;
      padding: 0 0.5em;

      &.first {
        border-right: 1px solid lighten($tab-background, 20%);
        margin-right: 0.5em;
      }
    }

  }

  h2 {
    margin-left: 0.1em;
  }

  h3 {
    color: $green;
    margin: 0.5em 2em 0 0;
    float: right;
    font-size: 1em;
  }
}

#client-navigation, #patient-navigation {
  @include tab-navigation;
}

#client-view {
  background-color: #f8f8f8;
  padding: 0.3em;


  fieldset {
    margin: 0 auto;
    padding: 0.5em 0;
    border: 1px solid $tab-background;
    width: 55em;

    &.submit {
      border: none;
      margin-top: 0.2em;
      padding: 0;

      input {
        border: 1px solid $tab-background;
        padding: 0.2em;
        margin: 0.2em 0;
        float: right;
        color: $green-border;
        font-weight: bold;

        &:hover {
          background-color: lighten($tab-background, 30%);
          color: darken($green-border, 30%);
        }
      }
    }

    fieldset.phone-number {
      width: 24.65em;
      padding: 0;
      border: none;
      margin-left: 1em;

      select {
        width: 8em;
      }
    }

    legend {
      margin-left: 0.2em;
      font-size: 0.7em;
      font-weight: bold;
      color: $green-border;
    }

    ol {
      padding: 0;
      margin: 0;
      list-style: none;
  
      li {
        margin: 0.1em 0;
        text-align: left;
        float: left;
  
        label {
          font-size: 0.8em;
          float: left;
          width: 10em;
          margin-right: 0.8em;
          text-align: right;
          line-height: 2em;
        }
  
        select {
          border: none;
          border: 1px solid $tab-background;
          padding: 0.2em;
          width: 20em;
          background-color: lighten($tab-background, 40%);
        }

        div.field_with_errors {
          display: inline;

          input {
            background-color: mix(lighten($tab-background, 40%), #E4D2D3);
          }
        }
  
        input {
          padding: 0.2em;
          border: none;
          width: 18em;
          background-color: lighten($tab-background, 40%);
          border: 1px solid $tab-background;
        }
      }
    }
  }
}
