.panel {
  clear: both; }
  .panel .header {
    height: 2.6em;
    cursor: pointer;
    height: 2.6em; }
    .panel .header h2 {
      float: left;
      font-size: 2em;
      padding: 0;
      margin: 0 0.5em 0 0.5em;
      background: url(../images/down.png) no-repeat 0 0.4em;
      padding-left: 0.8em;
      color: #9a9a9a; }
      .panel .header h2.closed {
        background: url(../images/right.png) no-repeat 0 0.3em; }
      .panel .header h2::selection, .panel .header h2::-moz-selection, .panel .header h2::-webkit-selection {
        background: transparent; }
    .panel .header h3 {
      float: left;
      padding: 0;
      margin: 0.45em 0 0 1em;
      color: #b3b3b3; }
      .panel .header h3::selection, .panel .header h3::-moz-selection, .panel .header h3::-webkit-selection {
        background: transparent; }
    .panel .header ul {
      clear: right;
      margin: 0;
      padding: 0;
      width: 100%;
      background: gray;
      height: 2.6em; }
      .panel .header ul li {
        display: block;
        float: right;
        margin: 0.85em 0.5em 0 0;
        background-color: #223344;
        border: 1px solid black;
        border-bottom: none; }
        .panel .header ul li.selected a, .panel .header ul li.selected a:hover {
          background-color: #f8f8f8;
          color: #7d9471; }
        .panel .header ul li a {
          display: block;
          padding: 0.25em 1em;
          color: #bbbbbb; }
          .panel .header ul li a:hover {
            background-color: #334c66; }
        .panel .header ul li:after {
          visibility: hidden;
          display: block;
          font-size: 0;
          content: " ";
          clear: both;
          height: 0; }
  .panel .view {
    clear: both;
    background-color: #f8f8f8;
    padding: 0.3em; }
    .panel .view fieldset {
      margin: 0 auto;
      padding: 0.5em 0;
      border: 1px solid gray;
      width: 55em; }
      .panel .view fieldset legend {
        margin-left: 0.2em;
        font-size: 0.7em;
        font-weight: bold;
        color: #7d9471; }
      .panel .view fieldset.submit {
        border: none;
        margin-top: 0.2em;
        padding: 0; }
        .panel .view fieldset.submit input {
          border: 1px solid gray;
          padding: 0.2em;
          margin: 0.2em 0;
          float: right;
          color: #7d9471;
          font-weight: bold; }
          .panel .view fieldset.submit input:hover {
            background-color: #cccccc;
            color: #333e2e; }
      .panel .view fieldset ol {
        padding: 0;
        margin: 0;
        list-style: none; }
        .panel .view fieldset ol li {
          margin: 0.1em 0;
          text-align: left;
          float: left; }
          .panel .view fieldset ol li label {
            font-size: 0.8em;
            float: left;
            width: 10em;
            margin-right: 0.8em;
            text-align: right;
            line-height: 2em; }
          .panel .view fieldset ol li select {
            border: none;
            border: 1px solid gray;
            padding: 0.2em;
            width: 18.5em;
            background-color: #e6e6e6; }
            .panel .view fieldset ol li select.date {
              width: 5.94em; }
          .panel .view fieldset ol li div.field_with_errors {
            display: inline; }
            .panel .view fieldset ol li div.field_with_errors input {
              background-color: #e5dcdc; }
          .panel .view fieldset ol li input {
            padding: 0.2em;
            border: none;
            width: 18em;
            border: 1px solid gray;
            background-color: #e6e6e6; }
          .panel .view fieldset ol li textarea {
            padding: 0.2em;
            border: none;
            margin-left: 0.1em;
            width: 20em;
            height: 7em;
            border: 1px solid gray;
            background-color: #e6e6e6; }
    .panel .view form.new_diagnosis_event fieldset ol li select {
      min-width: 35em;
      margin: 1em;
      float: left; }
    .panel .view form.new_diagnosis_event fieldset ol li label {
      text-align: left !important; }
    .panel .view form.new_diagnosis_event fieldset ol li textarea {
      width: 30.5em;
      height: 27.5em;
      display: block;
      float: left; }
    .panel .view form.new_client fieldset.phone ol li.phone-number, .panel .view form.edit_client fieldset.phone ol li.phone-number, .panel .view form.new_employee fieldset.phone ol li.phone-number, .panel .view form.edit_employee fieldset.phone ol li.phone-number {
      text-align: right; }
      .panel .view form.new_client fieldset.phone ol li.phone-number select, .panel .view form.edit_client fieldset.phone ol li.phone-number select, .panel .view form.new_employee fieldset.phone ol li.phone-number select, .panel .view form.edit_employee fieldset.phone ol li.phone-number select {
        margin: 0 0.3em 0 0.8em;
        width: 8em !important; }
      .panel .view form.new_client fieldset.phone ol li.phone-number input, .panel .view form.edit_client fieldset.phone ol li.phone-number input, .panel .view form.new_employee fieldset.phone ol li.phone-number input, .panel .view form.edit_employee fieldset.phone ol li.phone-number input {
        margin: 0 0 0 0;
        width: 18em; }
    .panel .view form.new_client fieldset.phone a.delete, .panel .view form.edit_client fieldset.phone a.delete, .panel .view form.new_employee fieldset.phone a.delete, .panel .view form.edit_employee fieldset.phone a.delete {
      position: relative;
      float: right;
      right: 1.2em;
      top: 0.3em; }
    .panel .view form.new_client fieldset.phone a.add, .panel .view form.edit_client fieldset.phone a.add, .panel .view form.new_employee fieldset.phone a.add, .panel .view form.edit_employee fieldset.phone a.add {
      height: 14px;
      width: 14px;
      position: relative;
      top: 0.3em;
      left: 0.3em; }
    .panel .view form.new_client fieldset.patients, .panel .view form.edit_client fieldset.patients, .panel .view form.new_employee fieldset.patients, .panel .view form.edit_employee fieldset.patients {
      text-align: center; }
      .panel .view form.new_client fieldset.patients span.or, .panel .view form.edit_client fieldset.patients span.or, .panel .view form.new_employee fieldset.patients span.or, .panel .view form.edit_employee fieldset.patients span.or {
        margin: 1em 1em 0.2em 1em;
        display: block;
        color: #7d9471; }
      .panel .view form.new_client fieldset.patients ul, .panel .view form.edit_client fieldset.patients ul, .panel .view form.new_employee fieldset.patients ul, .panel .view form.edit_employee fieldset.patients ul {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0.5em; }
        .panel .view form.new_client fieldset.patients ul li, .panel .view form.edit_client fieldset.patients ul li, .panel .view form.new_employee fieldset.patients ul li, .panel .view form.edit_employee fieldset.patients ul li {
          margin: 0;
          display: inline; }
          .panel .view form.new_client fieldset.patients ul li a, .panel .view form.edit_client fieldset.patients ul li a, .panel .view form.new_employee fieldset.patients ul li a, .panel .view form.edit_employee fieldset.patients ul li a {
            margin: 0 0.3em;
            padding: 0.5em 1em;
            border: 1px solid gray;
            background-color: #e6e6e6; }
            .panel .view form.new_client fieldset.patients ul li a:hover, .panel .view form.edit_client fieldset.patients ul li a:hover, .panel .view form.new_employee fieldset.patients ul li a:hover, .panel .view form.edit_employee fieldset.patients ul li a:hover {
              background-color: #c5c5c5; }

.toolbar {
  text-align: right;
  border-bottom: 1px solid gray;
  margin: 0 0 0.5em 0;
  height: 1.5em; }
  .toolbar a {
    margin: 0.5em; }
    .toolbar a img {
      margin: 0 0.25em 0 0; }

table.index {
  margin: 0 auto;
  border-collapse: collapse; }
  table.index th {
    text-align: left;
    color: #223344;
    border-bottom: 5px solid #223344; }
  table.index td {
    padding: 0.7em 1em 0.7em 0;
    border-bottom: 1px solid #ccc; }

table.events {
  width: 55em;
  margin: 0 auto;
  border: 1px solid gray;
  border-collapse: collapse; }
  table.events thead {
    background-color: #223344;
    color: gray; }
    table.events thead th {
      padding: 0.2em 1em;
      text-align: left;
      border-bottom: 1px solid gray;
      color: #bbbbbb; }
  table.events tbody tr.even {
    background-color: #dfdfdf; }
  table.events tbody tr.odd {
    background-color: #f8f8f8; }
  table.events tbody tr td {
    padding: 0.2em 1em; }
    table.events tbody tr td.date {
      width: 7em; }

#search-bar {
  background: #7d9471;
  position: relative;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  width: 100%; }
  #search-bar #search-results {
    background-color: #e6e6e6;
    display: none;
    position: absolute;
    width: 100%;
    border-bottom: 2px solid gray;
    -moz-box-shadow: 0px 10px 10px #888;
    -webkit-box-shadow: 0px 10px 5px #888;
    box-shadow: 0px 10px 5px #888; }
    #search-bar #search-results ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #search-bar #search-results ul li {
        border: 2px solid #cccccc;
        padding: 0;
        margin: 0.2em 0.2em; }
        #search-bar #search-results ul li:hover {
          background-color: #cccccc;
          border: 2px solid #b3b3b3; }
        #search-bar #search-results ul li a {
          padding: 0.5em 1.8em;
          display: block; }
        #search-bar #search-results ul li .label {
          float: right;
          font-size: 1.5em;
          color: gray; }
  #search-bar fieldset {
    border: none;
    margin: 0;
    padding: 0.2em 0;
    display: block;
    background-color: #e6e6e6; }
    #search-bar fieldset input {
      width: 85%;
      display: block;
      border: none;
      padding-left: 1.2em;
      float: left;
      background: url(../images/search.png) no-repeat 0.3em 0.3em #e6e6e6;
      font-size: 1.5em; }
    #search-bar fieldset input.loading {
      background: url(../images/loading.gif) no-repeat 0.3em 0.3em #e6e6e6; }
    #search-bar fieldset input.submit {
      font-size: 1.3em;
      width: 5%;
      color: #7d9471;
      background-image: none;
      background-color: #e6e6e6;
      border: 1px solid #e6e6e6;
      border-left: 1px solid #b3b3b3;
      display: block;
      float: right;
      margin: 0;
      width: auto;
      padding: 0 0.5em; }
      #search-bar fieldset input.submit.first {
        border-right: 1px solid #b3b3b3;
        margin-right: 0.5em; }
  #search-bar h2 {
    margin-left: 0.1em; }
  #search-bar h3 {
    color: #b2c0ab;
    margin: 0.5em 2em 0 0;
    float: right;
    font-size: 1em; }

ul.diagnoses {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 25em; }
  ul.diagnoses a {
    display: block;
    padding: 0.5em 0 0.5em 1em; }
  ul.diagnoses li.category {
    margin-bottom: 0.25em; }
    ul.diagnoses li.category strong {
      display: block;
      border: 1px solid gray;
      background-color: #e6e6e6; }
    ul.diagnoses li.category ul {
      list-style: none;
      background-color: #f8f8f8;
      margin: 0;
      padding: 0; }
      ul.diagnoses li.category ul li {
        border: 1px solid gray;
        margin: 0.25em 0;
        background: white; }
        ul.diagnoses li.category ul li a {
          padding-left: 1.75em; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: gray;
  min-width: 900px;
  overflow: hidden; }

a {
  text-decoration: none;
  color: #4c5b44; }
  a img {
    border: none; }

#header {
  background-color: #b2c0ab;
  border-bottom: 2px solid #7d9471;
  height: 3em; }
  #header ul {
    margin: 0;
    padding: 0;
    text-align: right; }
    #header ul li {
      display: block;
      float: right;
      margin: 0.75em 1em 0.9em 1em; }
      #header ul li a {
        font-size: 1.2em; }

#flash-error {
  display: none;
  margin: 0;
  padding: 1em;
  border: 2px solid #E4D2D3;
  background-color: #e5dcdc;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0px;
  color: gray; }

#flash-notice {
  display: none;
  color: gray;
  margin: 0;
  padding: 1em;
  border: 2px solid #b2c0ab;
  background-color: #ccd3c8;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0px; }

#loading-overlay {
  background: #ffffff;
  height: 100%;
  width: 100%;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  filter: alpha(opacity=50);
  opacity: 0.5; }
  #loading-overlay img {
    display: block;
    margin: 1.5em auto;
    z-index: 100;
    filter: alpha(opacity=100);
    opacity: 1; }
