= render 'clients/search_bar'

#client-navigation
  %h2 
    %a Client
  %h3
    %a= "#{h name_last_first(client)}"
  %ul
    %li
      %a{:href => '#', :class => 'selected'} Client
    %li
      %a{:href => '#'} Details

:javascript
  $(document).ready(function() {
    $('#client-navigation').click(function(event) {
      if($('#client-view').css('display') == 'none') {
        $('#client-navigation h2').removeClass('closed')
        $('#client-view').slideToggle();
        $('#client-navigation ul li').fadeIn();
      } else {
        $('#client-navigation h2').addClass('closed')
        $('#client-view').slideToggle();
        $('#client-navigation ul li').fadeOut();
      }
    });

    $('#client-navigation ul li a').mousedown(function(event) {
      return false;
    });
  });
