%fieldset{:class => 'patients'}
  %legend Patients
  - unless client.patients.empty?
    = patient_select_list(client)
    %span{:class => 'or'} &mdash; or &mdash;
  = link_to "Create a new patient", new_client_patient_path(client), :remote => true
