= render 'navigation', :client => @client

#client-view
  = render "form", :client => @client, :phone_numbers => @phone_numbers

= render 'patients/navigation', :client => @client, :patient => @patient
