= render 'search_bar', :show_result_box => false

#search-results
  %table{:id => 'clients'}
    %thead
      %tr
        %th Name
    %tbody
      = render :partial => 'client_row', :collection => @clients
