= flash[:notice]
= render 'search_form'
%table
  %thead
    %tr
      %th Last Name
      %th First Name
  %tbody
    - @clients.each do |client|
      %tr
        %td
          %a{:href => client_path(client)}=h client.last_name
        %td
          %a{:href => client_path(client)}=h client.first_name
