= clients_panel do
  %table{:class => 'index'}
    %thead
      %tr
        %th Name
        %th Address
        %th Phone
        %th Patients
    %tbody
      = render :partial => 'client_row', :collection => @clients
