#patient-navigation
  %h2
    %a Patient

  != patient_select_list(client, patient)

  %ul{:class => 'tabs'}
    %li
      %a{:href => edit_client_patient_path(client, patient), :class => 'selected'}
        Details
    %li
      %a{:href => patient_events_path(patient)} History
