= render "clients/navigation", :client => @client

#client-view
  = render "clients/form", :client => @client, :phone_numbers => @phone_numbers

#patient-view
  = render "patients/form", :client => @client, :patient => @patient
